#
#   Author: Rohith
#   Date: 2015-06-02 16:52:37 +0100 (Tue, 02 Jun 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=NFSv2/3 Network Status Monitor Daemon
After=rpcbind.service
Requires=rpcbind.service
Before=remote-fs-pre.target
Wants=remote-fs-pre.target

[Service]
ExecStart=/sbin/rpc.statd -F

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
