#
#   Author: Rohith
#   Date: 2015-04-22 15:31:53 +0100 (Wed, 22 Apr 2015)
#
#  vim:ts=2:sw=2:et
#
[Unit]
Description=fleetd
After=docker.service
After=etcd.service
Requires=docker.service
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=on-failure
RestartSec=10
ExecStart=/usr/local/bin/fleetd

[Install]
WantedBy=multi-user.target
