#
#   Author: Rohith
#   Date: 2015-04-22 15:44:46 +0100 (Wed, 22 Apr 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Consul Service

[Service]
TimeoutStartSec=10m
KillMode=none
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/network-environment

ExecStart={{ consul_binary }} agent -config-dir /config/consul

[Install]
WantedBy=multi-user.target
