#
#   Author: Rohith
#   Date: 2015-06-04 13:14:14 +0100 (Thu, 04 Jun 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Install Bastion Container
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=fleet.service 
After=fleet.service 

[Service]
Restart=on-failure
RestartSec=5
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill bastion
ExecStartPre=-/usr/bin/docker rm bastion
ExecStartPre=/usr/bin/docker pull gambol99/bastion
ExecStart=/usr/bin/docker run \
  --name bastion \
  --pid=host --net=host --ipc=host \
  -v /etc/hosts:/etc/hosts \
  -v /config:/config \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/run/fleet.sock:/var/run/fleet.sock \
  -v /var/run/dbus:/var/run/dbus \
  -v /run/systemd:/run/systemd \
  -v /usr/bin/etcdctl:/usr/bin/etcdctl \
  -v /usr/bin/fleetctl:/usr/bin/fleetctl \
  -v /usr/bin/docker:/usr/bin/docker \
  -v /opt/kubernetes/bin/kubectl:/usr/bin/kubectl \
  -v /etc/systemd/system:/etc/systemd/system \
  -v /:/host \
  gambol99/bastion

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
