#
#   Author: Rohith
#   Date: 2015-05-13 14:38:44 +0100 (Wed, 13 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Vulcand HTTP Router
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=on-failure
RestartSec=10
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/network-environment

ExecStartPre=-/usr/bin/docker kill vulcand
ExecStartPre=-/usr/bin/docker rm vulcand
ExecStartPre=/usr/bin/docker pull {{ vulcand_image }}:{{ vulcand_image_tag }}

ExecStart=/usr/bin/docker run \
  -p {{ vulcand_port }}:8182 \
  -p {{ vulcand_admin_port }}:8181 \
  --name vulcand \
  -e ENVIRONMENT=prod \
  -e SERVICE_{{ vulcand_port }}_NAME=vulcand_http \
  -e SERVICE_{{ vulcand_admin_port }}_NAME=vulcand_api \
  -e NAME=vulcand \
  {{ vulcand_image }}:{{ vulcand_image_tag }} /go/bin/vulcand \
  -apiInterface=0.0.0.0 \
  -port={{ vulcand_port }} \
  -apiPort={{ vulcand_admin_port }} \
  -endpointDialTimeout=5s \
  --etcd=http://${PRIVATE_IP}:4001

ExecStop=/usr/bin/docker stop vulcand

[X-Fleet]
Global=true

