#
#   Author: Rohith
#   Date: 2015-04-20 14:41:34 +0100 (Mon, 20 Apr 2015)
#
#  vim:ts=2:sw=2:et
#

*.swp
*.pyc
*.cache
.vagrant/
.aws
.vault
.credentials.yml
sbx.discovery.yml
sites/sbx/vars/sbx.discovery.yml
sites/develop/vars/develop.discovery.yml
sites/dev
roles/services
