#
#   Author: Rohith
#   Date: 2015-04-22 11:15:40 +0100 (Wed, 22 Apr 2015)
#
#  vim:ts=2:sw=2:et
#

Host bastion101.eu1.example.com
  User                   centos
  HostName               bastion101.eu1.example.com
  ProxyCommand           none
  IdentityFile           ~/.ssh/id_rsa
  BatchMode              yes
  ForwardAgent           yes
  StrictHostKeyChecking  no
  PasswordAuthentication no

Host bastion101.dev.example.com
  User                   root
  HostName               bastion101.dev.example.com
  ProxyCommand           none
  IdentityFile           ~/.ssh/id_rsa
  BatchMode              yes
  ForwardAgent           yes
  StrictHostKeyChecking  no
  PasswordAuthentication no

Host *.sbx.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  User                   root
  UserKnownHostsFile     /dev/null
  StrictHostKeyChecking  no
  IdentityFile           ~/.ssh/id_rsa

Host core*.sbx.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  User                   core
  UserKnownHostsFile     /dev/null
  StrictHostKeyChecking  no
  IdentityFile           ~/.vagrant.d/insecure_private_key
  
Host core*.dev.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  ProxyCommand           ssh -q -A bastion101.dev.example.com nc %h %p
  ControlMaster          auto
  ControlPath            ~/.ssh/mux-%r@%h:%p
  ControlPersist         8h
  User                   core  
  StrictHostKeyChecking  no
  IdentityFile           vars/insecure_ssh_key

Host *.eu1.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  ProxyCommand           ssh -A centos@bastion101.eu1.example.com nc %h %p
  User                   centos
  StrictHostKeyChecking  no
  IdentityFile           ~/.ssh/id_rsa

Host *.dev.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  ProxyCommand           ssh -q -A bastion101.dev.example.com nc %h %p
  ControlMaster          auto
  ControlPath            ~/.ssh/mux-%r@%h:%p
  ControlPersist         8h
  User                   root
  StrictHostKeyChecking  no
  IdentityFile           ~/.ssh/id_rsa

Host 127.0.0.1
  ServerAliveInterval    60
  TCPKeepAlive           yes
  User                   root
  StrictHostKeyChecking  no
  IdentityFile           ~/.ssh/id_rsa

#Host *
#  ServerAliveInterval    60
#  TCPKeepAlive           yes
#  User                   centos
#  ForwardAgent           yes
#  StrictHostKeyChecking  no
#  IdentityFile           ~/.ssh/id_rsa
#
