#
#   Author: Rohith
#   Date: 2015-04-22 11:15:40 +0100 (Wed, 22 Apr 2015)
#
#  vim:ts=2:sw=2:et
#

Host bastion101.dev.example.com
  User                   root
  HostName               bastion101.dev.example.com
  ProxyCommand           none
  IdentityFile           ~/.ssh/id_rsa
  BatchMode              yes
  Port                   2023
  ForwardAgent           yes
  StrictHostKeyChecking  no
  PasswordAuthentication no

Host *.sbx.example.com
  TCPKeepAlive           yes
  User                   root
  Port                   2023
  UserKnownHostsFile     /dev/null
  StrictHostKeyChecking  no
  ForwardAgent           yes
  IdentityFile           ~/.ssh/id_rsa

Host *.dev.example.com
  ServerAliveInterval    60
  TCPKeepAlive           yes
  ProxyCommand           ssh -q -A bastion101.dev.example.com nc %h 2023
  ControlMaster          auto
  ControlPath            ~/.ssh/mux-%r@%h:%p
  ControlPersist         8h
  Port                   80
  User                   root
  StrictHostKeyChecking  no
  IdentityFile           sites/dev/files/ansible.key

