#cloud-config
#
#   Author: Rohith (gambol99@gmail.com)
#   Date: 2014-10-16 10:24:42 +0100 (Thu, 16 Oct 2014)
#
#  vim:ts=2:sw=2:et
#

hostname: {{ hostname }}.{{ dns_base }}

ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7K4+mLac9yexhMY5N+XtQIbTFHxVJJLlpm4/DJw3HET25AZpy7AeBDhQwgjYHd+saPUuocxNkztmYelgXkIWhIwWn2vODt0wBryt1skNs07mVm+jPawNRrEs9q+uVVAn64P+2WmyJVgsFWOkKkrnH/sypJnLSNk8WDdpqD6JLz4fsy9+zinMh7k7Xo5UfBq78pVfUS9aVlMpOj3NmdD1UpxbIBsC+ttlVR43rqrnySK9zhzezYot4PlA1LInnw8E7o8TxnJ6z2xXx5PsNMbjLW94OjpjsbvbKsKnLunA2LMc65HtOAVdPqHTWxbMuSlKjChiWJDjujdjVID8FpW09 imported-openssh-key

write_files:
  - path: /run/manage_hosts
    permissions: 0555
    owner: root
    content: |
      #!/bin/bash

      source /etc/environment

      cat <<-EOF > /etc/hosts
      127.0.0.1   localhost local
      ::1         ip6-localhost ip6-loopback
      fe00::0     ip6-localnet
      ff00::0     ip6-mcastprefix
      ff02::1     ip6-allnodes
      ff02::2     ip6-allrouters

      ${PRIVATE_IP} ${HOST}
      EOF
  - path: /run/boostrap.sh
    permissions: 0555
    owner: root
    content: |
      #!/bin/bash
      function get_ip () {
        IF=$1
        IP=
        while [ 1 ]; do
          IP=$(ifconfig $IF | awk '/inet / {print $2}')
          if [ "$IP" != "" ]; then
            break
          fi
          sleep .1
        done
        echo $IP
      }
      PRIMARY_INTERFACE=eth0
      PRIMARY_IP=$(get_ip $PRIMARY_INTERFACE)

      cat <<EOF > /etc/environment
      PRIMARY_INTERFACE=${PRIMARY_INTERFACE}
      PRIVATE_IP=${PRIMARY_IP}
      HOST={{ hostname }}.{{ dns_base }}

      EOF

      yum install -y nc

  - path: /etc/ssh/sshd_config
    permissions: '0444'
    content: |
      AcceptEnv LANG LC_*
      ChallengeResponseAuthentication no
      GSSAPIAuthentication no
      PermitRootLogin yes
      PrintMotd no
      Subsystem sftp /usr/lib/openssh/sftp-server
      UseDNS no
      UsePAM yes
      X11Forwarding yes

runcmd:
  - /run/boostrap.sh
  - /run/manage_hosts
