#
#   Author: Rohith
#   Date: 2015-05-03 13:01:13 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kubernetes-api.service
After=kubernetes-api.service

[Service]
EnvironmentFile=/etc/environment

Restart=always
RestartSec=10

ExecStart=chmod +x {{ kubernetes_dir }}/bin/hyperkube 
ExecStart={{ kubernetes_dir }}/bin/hyperkube scheduler \
  --master=127.0.0.1:4343

[X-Fleet]
MachineOf=kubernetes-api.service
