#
#   Author: Rohith
#   Date: 2015-05-03 13:01:13 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker-mirror.service

[Service]
EnvironmentFile=/etc/environment

Restart=always
RestartSec=10

ExecStart=chmod +x {{ kubernetes_dir }}/bin/hyperkube 
ExecStart={{ kubernetes_dir }}/bin/hyperkube apiserver \
  --cluster-name={{ kubernetes_cluster_name }} \
  --allow_privileged=true \
  --insecure_bind_address=0.0.0.0 \
  --insecure_port=8080 \
  --kubelet_https=true \
  --secure_port=6443 \
{% if kubernetes_token_auth is defined %}
  --token_auth_file=/config/kubernetes/{{ kubernetes_token_filename }} \ 
{% endif %}
  --portal_net={{ kubernetes_overlay_network }}/{{ kubernetes_overlay_prefix }} \
  --etcd_servers=http://127.0.0.1:4001 \
  --public_address_override=${COREOS_PRIVATE_IPV4} \
  --logtostderr=true

[X-Fleet]
MachineMetadata=host=core
