#
#   Author: Rohith
#   Date: 2015-04-22 15:01:18 +0100 (Wed, 22 Apr 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=etcd

[Service]
TimeoutStartSec=10m
EnvironmentFile=/etc/environment

Restart=always
RestartSec=10

ExecStart=/usr/bin/etcd \
  -name={{ ansible_hostname }} \
  -listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001 \
  -advertise-client-urls http://${PRIVATE_IP}:2379,http://${PRIVATE_IP}:4001 \
  -listen-peer-urls http://0.0.0.0:2380,http://0.0.0.0:7001 \
  -initial-advertise-peer-urls http://${PRIVATE_IP}:2380 \
  {% if etcd_discovery is defined %}
  -discovery={{ etcd_discovery }} \
  {% else %}
  -initial-cluster-token {{ etcd_cluster_token }} \
  -initial-cluster "{{ ansible_hostname }}=http://${PRIVATE_IP}:2380" \
  -initial-cluster-state new \
  {% endif %}
  --data-dir {{ etcd_datadir }}

[Install]
WantedBy=multi-user.target
