#
#   Author: Rohith
#   Date: 2015-05-18 14:41:36 +0100 (Mon, 18 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Nginx Http Gateway
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
KillMode=none
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/network-environment
ExecStartPre=-/usr/bin/docker kill {{ service_name }}
ExecStartPre=-/usr/bin/docker rm {{ service_name }}
ExecStartPre=/usr/bin/docker pull {{ http_router_image }}:{{ http_router_image_tag }}
ExecStart=/usr/bin/docker run \
  --rm \
  --name {{ service_name }} \
  --net=host \
  --entrypoint=/bin/start.sh \
  -v /config/http_router/nginx.conf.tmpl:/etc/confd/templates/nginx.conf.tmpl \
  -e CONFD_BACKEND=etcd \
  -e CONFD_BACKEND_URL={{ http_router_ip }}:4001 \
  {{ http_router_image }}:{{ http_router_image_tag }}

ExecStop=/usr/bin/docker stop {{ service_name }}

[Install]
WantedBy=multi-user.target
