#
#   Author: Rohith
#   Date: 2015-05-12 14:33:24 +0100 (Tue, 12 May 2015)
#
#  vim:ts=2:sw=2:et
#

[glusterfs-epel]
name=GlusterFS is a clustered file-system capable of scaling to several petabytes.
baseurl=https://download.gluster.org/pub/gluster/glusterfs/3.7/LATEST/CentOS/epel-7/x86_64/
enabled=1
skip_if_unavailable=1
gpgcheck=0

