#
#   Author: Rohith
#   Date: 2015-05-18 14:41:36 +0100 (Mon, 18 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=HAProxy Gateway
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
KillMode=none
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/network-environment
ExecStartPre=-/usr/bin/docker kill {{ service_name }}
ExecStartPre=-/usr/bin/docker rm {{ service_name }}
ExecStartPre=/usr/bin/docker pull {{ gateway_image }}:{{ gateway_image_tag }}
ExecStart=/usr/bin/docker run \
  --rm \
  --name {{ service_name }} \
  --net=host \
  -v /config/gateway/haproxy.cfg.tmpl:/etc/confd/templates/haproxy.cfg.tmpl \
  -v /config/gateway/haproxy.ini:/etc/supervisord.d/haproxy.ini \
  -e CONFD_BACKEND=etcd \
  -e CONFD_BACKEND_URL={{ gateway_ip }}:4001 \
  {{ gateway_image }}:{{ gateway_image_tag }}

ExecStop=/usr/bin/docker stop {{ service_name }}

[Install]
WantedBy=multi-user.target
