#
#   Author: Rohith
#   Date: 2015-05-03 12:59:46 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker
EnvironmentFile=-/etc/sysconfig/docker-storage
EnvironmentFile=-/etc/sysconfig/docker-network
EnvironmentFile=-/etc/sysconfig/docker-mirror
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/docker -d \
          $OPTIONS $DOCKER_MIRROR \
          $DOCKER_STORAGE_OPTIONS \
          $DOCKER_NETWORK_OPTIONS \
          $INSECURE_REGISTRY
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
MountFlags=slave

[Install]
WantedBy=multi-user.target
