#
#   Author: Rohith
#   Date: 2015-05-02 12:22:23 +0100 (Sat, 02 May 2015)
#
#  vim:ts=2:sw=2:et
#

{% for host in ntp_servers %}
server {{ host }}
{% endfor %}

# - Allow only time queries, at a limited rate.
# - Allow all local queries (IPv4, IPv6)
restrict default nomodify nopeer noquery limited kod
restrict 127.0.0.1
restrict [::1]