#
#   Author: Rohith
#   Date: 2015-05-03 15:28:23 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#

{% for interface in hostvars[inventory_hostname].ansible_interfaces %}
{% if not interface | search("^(veth|weave|dummy).*") %}
{{ interface.upper() }}_IPV4={{ hostvars[inventory_hostname]['ansible_'+interface].ipv4.address }}
{% endif %}
{% endfor %}
{% if iface is defined %}
DEFAULT_IPV4={{ hostvars[inventory_hostname]['ansible_'+iface].ipv4.address }}
{% else %}
DEFAULT_IPV4={{ ansible_default_ipv4.address }}
{% endif %}
