#
#   Author: Rohith
#   Date: 2015-05-08 12:14:34 +0100 (Fri, 08 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Jenkins Daemon

[Service]
ExecStart=/usr/bin/java -jar /home/jenkins_user/jenkins.war
User=jenkins_user

[Install]
WantedBy=multi-user.target
