#
#   Author: Rohith
#   Date: 2015-05-03 15:25:40 +0100 (Sun, 03 May 2015)
#
#  vim:ts=2:sw=2:et
#


FLEET_DIR={{ fleet_dir }}
FLEETCTL_ENDPOINT={% for host in groups[fleet_server_group]%}http://{{ host }}:4001{% if not loop.last %},{% endif %}{% endfor %}

export FLEETCTL_ENDPOINT=$FLEETCTL_ENDPOINT
export PATH=$PATH:${FLEET_DIR}
