#
#   Author: Rohith
#   Date: 2015-05-10 18:18:58 +0100 (Sun, 10 May 2015)
#
#  vim:ts=2:sw=2:et
#

[Unit]
Description=Create the Weave bridge
Requires=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/network-environment
ExecStart=/usr/local/bin/weave create-bridge
