#
#   Author: Rohith
#   Date: 2015-05-10 19:06:31 +0100 (Sun, 10 May 2015)
#
#  vim:ts=2:sw=2:et
#

WEAVE_BRIDGE=weave
WEAVE_NETWORK={{ weave_network }}
WEAVE_NETWORK_MASK={{ weave_network_mask }}
WEVAE_NEYWORK_CIDR={{ weave_network }}/{{ weave_network_mask }}
WEAVE_IP={{ weave_network_ip }}
WEAVE_CIDR={{ weave_cidr }}
